body {
  background-color: black;
}
  
  
  /*FUENTES*/
@font-face {
  font-family: "tituloMenu";
  src: url("/MULTIMEDIA/FUENTES/fuente1.ttf");
}
@font-face {
  font-family: "tituloSub";
  src: url("/MULTIMEDIA/FUENTES/fuente2.ttf");
}
@font-face {
  font-family: "texto";
  src: url("/MULTIMEDIA/FUENTES/fuente3.ttf");
}



/*------ MENU ------*/
/*TITULO*/
h1 {
  font-family: "tituloMenu";
  color: white;
  font-size: 9vh;
  position: absolute;
  top: -1vh;
  left: 14vw;
  transition: 0.35s ease-in-out;
  z-index: 1;
} h1:hover {
  text-shadow: 0px 0px 45px #ffc663;
  transform: scale(1.1);
}

/*PARTICIPANTES*/
#grupo {
  position: absolute;
  top: 90vh;
  left: 95vw;
  width: 3vw;
  height: 3vw;
  border: 0.5vh solid #ffc663;
  transition: 0.35s ease-in-out
} #grupo:hover {
  transform: scale(1.1);
} #grupoTexto {
  font-family: "texto";
  color: #ffffff;
  position: absolute;
  top: 66vh;
  left: 88.5vw;
  text-align: right;
  padding: 1vh;
  border: 0.35vh solid #ffc663;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/*FOTOS*/
#foto1, #foto2, #foto3, #foto4 {
  width: 32vw;
  height: 32vh;
  transition: opacity 0.25s ease-in-out ,transform 0.25s ease-in-out;
} /*POSICIONES*/
#foto1 {
  position: absolute;
  top: 26vh;
  left: 15vw;
} #foto2 {
  position: absolute;
  top: 62vh;
  left: 15vw;
} #foto3 {
  position: absolute;
  top: 26vh;
  left: 49vw;
} #foto4 {
  position: absolute;
  top: 62vh;
  left: 49vw;
}

/*ICONOS MENU*/
#iconoR {
  width: 10vw;
  height: 9.5vw;
  position: absolute;
  top: 34vh;
  left: 60.5vw;
  z-index: 1;
  transition: top 0.35s ease-in-out;
  filter: invert(1);
} #iconoH {
  width: 8.5vw;
  height: 8vw;
  position: absolute;
  top: 35vh;
  left: 27vw;
  z-index: 1;
  transition: top 0.35s ease-in-out;
  filter: invert(1);
} #iconoV {
  width: 8.5vw;
  height: 8vw;
  position: absolute;
  top: 71vh;
  left: 26.8vw;
  z-index: 1;
  transition: top 0.35s ease-in-out;
  filter: invert(1);
} #iconoM {
  width: 8.5vw;
  height: 6.5vw;
  position: absolute;
  top: 72vh;
  left: 61vw;
  z-index: 1;
  transition: top 0.35s ease-in-out;
  filter: invert(1);
}

/*TEXTO*/
#menuH, #menuR, #menuV, #menuM {
  font-family: "tituloSub";
  font-size: 3vw;
  color: #ffffff;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
} #menuH {
  position: absolute;
  top: 44vh;
  left: 19vw;
} #menuR {
  position: absolute;
  top: 44vh;
  left: 51vw;
} #menuV {
  position: absolute;
  top: 79vh;
  left: 17vw;
} #menuM {
  position: absolute;
  top: 79vh;
  left: 56.5vw;
}
/*CURSOR PARA IMAGENES*/
#Ahistoria, #Areseñas, #Amapa, #Avideo {
  cursor: pointer;
}
/*TRANSICIÓN MENU*/
#menu {
  transition: opacity 0.25s ease-in-out;
}




/*----- SUBPAGINAS -----*/
#HISTORIA, #RESEÑAS, #MAPA, #VIDEO {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
/*BOTON VOLVER A CASA*/
#Casa {
  color: #ffffff;
  font-size: 3.3vh;
  background-color: #000000;
  position: absolute;
  top: 91vh;
  left: 95vw;
  width: 6vh;
  height: 6vh;
  padding: 0.4vh;
  border: 0.35vh solid #ffffff;
  cursor: pointer;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  opacity: 0;
  display: none;
} #Casa:hover {
  transform: scale(1.2);
}

#SUBPAGINA {
  transition: opacity 0.25s ease-in-out;
}

h2 {
  color: #ffffff;
  font-family: tituloSub;
  font-size: 4vw;
  position: absolute;
  top: -4vh;
  left: 4vw;
}

/*----- VIDEO -----*/
#entrevistasVideo {
  width: 70vw;
  height: 70vh;
  position: absolute;
  top: 20vh;
  left: 2vw;
  border: 0.3vh solid #ffffff;
}
